# ignore .env vars
.env
 
# ignore codesandbox
.codesandbox/

# ignore __pycache__
.__pycache__/
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/routes.cpython-310.pyc
__pycache__/config.cpython-310.pyc
