<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the weather report app! By: Kyle Arbuthnot</title>
  <link rel="stylesheet" href="../static/style.css"></link>
  </head>
  <body>
<h1 id="fade-in-title">Weather Report App</h1>
    <p> Simply type your city into the text box below.</p>
  <div class="container">
      <div class="city-text-box">
        <textarea id="city_name" name="city_name" placeholder="Your City Here." maxlength="100000"></textarea>
        <button id="submit-button" class="submit-button" >
          <span class="submit-button-text">Generate Report</span>
        </button>
      </div>
      <div class="report-text-box"> 
      <textarea id="report" name="report_text" placeholder="Weather will appear here"> </textarea>
      </div>
    </div>
  </body>
</html>